.arrow-scroll {
  content: "";
  position: absolute;
  width: 30px;
  height: 20px;
  margin-left: -15px;
  bottom: 40px;
  left: 50%;
  opacity: .7;
  transition: all .3s;
  cursor: pointer;
  &:hover {
    bottom: 44px;
  }
}
.arrow {
  text-decoration: none;
  & svg {
    fill: $light-1;
  }
}
