.best {
  position: relative;
  background-image: url("../img/bg/bg3@1x.jpg");
  background-color: $bg-4;
  @include cover();
    .container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  @media #{$retina} {
    background-image: url("../img/bg/bg3@2x.jpg");
  }
}
.best__title {
  margin-bottom: 70px;
  font-size: 72px;
  font-family: $gagalin-regular;
  font-weight: 400;
  color: $dark-1;
  text-align: center;
  text-transform: uppercase;
}
.best__list {
  @include ul-reset();
  font-size: 0;
  margin-left: -20px;
}
.best__item {
  @include inline-block($valign: top);
  width: 31%;
  margin-left: 20px;
  font-size: 14px;
  text-align: center;
}
.best__icon {
  @include inline-block($valign: top);
  max-width: 97px;
  max-height: 90px;
  margin-bottom: 30px;
  &--meat {
    fill: $orange-1;
  }
}
.best__slogan {
  margin-bottom: 5px;
  font-size: 24px;
  font-family: $lifehack-medium;
  color: $dark-1;
}
.best__text {
  margin: 0;
  padding: 0 10px;
  font-size: 14px;
  line-height: 24px;
  font-family: $ubuntu-light;
  font-weight: 300;
  color: $dark-3;

}
