.burger {
  position: relative;
  background-color: $bg-2;
  background: -moz-linear-gradient(top,  #f8b33b 0%, #eb8e38 40%, #eb8e38 70%, #f8b33b 100%);
  background: -webkit-linear-gradient(top,  #f8b33b 0%,#eb8e38 40%,#eb8e38 70%,#f8b33b 100%);
  background: linear-gradient(to bottom,  #f8b33b 0%,#eb8e38 40%,#eb8e38 70%,#f8b33b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b33b', endColorstr='#f8b33b',GradientType=0 );
  .container {
    @extend %absolute-center-vertical;
  }
}
.burger__slider {

}
.burgers__slide {
  position: relative;
  @extend %ul-reset;
  padding: 45px 0 45px;
}
.burger__slider-item {
  @extend %clearfix;
  font-size: 0;
}
.burger__slider-left {
  @include inline-block($valign: top);
  width: 52%;
  margin-right: 2%;
  margin-left: -20px;
  padding-top: 35px;
  max-width: 480px;
  max-height: 348px;
}
.burger__slider-right {
  @include inline-block($valign: top);
  width: 46%;
}
.burger__title {
  margin-bottom: 40px;
  font-size: 72px;
  line-height: 1;
  font-family: $gagalin-regular;
  font-weight: 400;
  color: $light-1;
}
.burger__desc {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 1.714;
  font-family: $ubuntu-light;
  font-weight: 300;
  color: $light-1;
}
.burger__price-block {
  font-size: 0;
}
.burger__price-total {
  @include inline-block($valign: bottom);
  margin-right: 25px;
  font-size: 30px;
  font-family: $gagalin-regular;
  color: $red-2;
  line-height: 1;
}
.burger__price {
  font-size: 72px;
  line-height: 1;
}
.burger__btn {
  @include inline-block($valign: bottom);
  padding: 9px 16px;
}
.burger__calc {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  color: $light-1;
  font-family: $gagalin-regular;
  text-align: center;
}
.burger__weight {
  position: relative;
  width: 65px;
  height: 60px;
  background: url(../img/decor/kkal.svg) 50% no-repeat;
}
.burger__weight-amount {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  font-size: 20px;
}
.burger__caption {
  font-size: 14px;
}
.burger__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: all .3s;
  & svg {
    fill: $light-1;
  }
  &--prev {
    right: -20px;
    transform: rotate(-90deg);
    &:hover {
      right: -24px;
    }
  }
  &--next {
    left: -20px;
    transform: rotate(90deg);
    &:hover {
      left: -24px;
    }
  }

}
