.footer {
  min-width: $desktop-inner-width + 20px;
  height: 60px;
  background-image: url("../img/bg/bg7@1x.jpg");
  @include cover();
  @media #{$retina} {
    background-image: url("../img/bg/bg7@2x.jpg");
  }
}
.footer__contacts {
  float: left;
  max-width: 460px;
  width: 32%;
  padding-top: 10px;
}
.footer__adress {
  font-size: 14px;
  line-height: 1.71;
  font-family: $ubuntu-light;
  color: $light-1;
}
.footer__tell {
  display: block;
  text-decoration: none;
  color: $orange-1;
}
.footer__tell-icon {
  margin-right: 8px;
  & svg {
    fill: $orange-1;
  }
}
.footer__socials {
  float: right;
  max-width: 320px;
  width: 17%;
  padding-top: 18px;
}
