.promo {
  position: relative;
  background-image: url("../img/bg/bg1@1x.jpg"),
  url("../img/bg/bg2@1x.png");
  @include cover();
  .container {
    position: static;
  }
}
.promo__header {
  margin-bottom: 60px;
  padding-top: 12px;
  font-size: 0;
}
.promo__logo {
  @include inline-block($valign: middle);
  width: 10%;
}
.promo__nav {
  @include inline-block($valign: middle);
  @extend %clearfix;
  width: 90%;
  font-size: 0;
  text-align: right;
}
.promo__btn {
  @include inline-block($valign: middle);
  width: 12%;
  padding: 9px 0;
  margin-left: 2%;
}
.promo__container {
  @include absolute-center-vertical;
  position: absolute;
  left: 0;
  right: 0;
}
.promo__content {

}
.promo__content-left {
  float: left;
  width: 50%;
}
.promo__content-right {
  float: right;
  width: 50%;
  padding-top: 115px;
}
.promo__title {
  font-size: 65px;
  font-family: $lifehack-medium;
  font-weight: 500;
  text-transform: uppercase;
  color: $light-1;
  line-height: 1;
}
.promo__title-accent {
  font-size: 72px;
  font-family: $gagalin-regular;
  color: $yellow-1;
  line-height: 1.6;
}
