.socials {
  @extend %ul-reset;
  font-size: 0;
  text-align: right;
}
.social__item {
  @include inline-block($valign: middle);
  margin-left: 20px;
  &:first-child {
    margin-left: 0;
  }
}
.social__link {
    position: relative;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    opacity: 0.3;
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: cover;
  // background-color: transparent;
  & svg {
    // position: absolute;
    // top: 0;
    // left: 0;
    fill: red;
  }
  & svg {
    fill: red;
  }
  &:hover {
    opacity: 1;
    transform: scale(1.07);
    transition: all .5s;
  //   color: red;
  //   svg {
  //     fill: red;
  //     stroke: blue;
  //   }
  }
}
