.socials {
  @extend %ul-reset;
  font-size: 0;
  text-align: right;
}
.social__item {
  @include inline-block($valign: middle);
  margin-left: 20px;
  &:first-child {
    margin-left: 0;
  }
}
.social__link {
  position: relative;
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  opacity: 0.3;
  &--vk, &--fb, &--inst, &--tw {
    & svg {
      fill: $light-1;
    }
  }
  &:hover {
    opacity: 1;
    transform: scale(1.07);
    transition: all .5s;
  }
}
