.status-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(47,50,52,.93);
  display: none;
}
.status-popup__inner {
  width: 240px;
  padding: 20px;
  text-align: center;
}
.status-popup__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.71;
  font-family: $ubuntu-light;
  font-weight: 300;
  color: $dark-1;
}
.status-popup__close {
  padding: 9px 16px;
}
