.status-popup {
  width: 240px;
}
.status-popup__inner {
  padding: 20px;
  text-align: center;
}
.status-popup__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.71;
  font-family: $ubuntu-light;
  font-weight: 300;
  color: $dark-1;
}
.status-popup__close {
  padding: 9px 16px;
}
