
/* Шрифты */
/* font-family: "GagalinRegular"; */
@font-face {
	font-family: "GagalinRegular";
	src: url("../fonts/GagalinRegular/gagalin-regular-webfont.woff") format("woff"),
	url("../fonts/GagalinRegular/gagalin-regular-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
/* font-family: "LifehackMedium"; */
@font-face {
	font-family: "LifehackMedium";
	src: url("../fonts/LifehackMedium/lifehack_medium-webfont.woff") format("woff"),
	url("../fonts/LifehackMedium/lifehack_medium-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
/* font-family: "UbuntuRegular"; */
@font-face {
	font-family: "UbuntuRegular";
	src: url("../fonts/UbuntuRegular/ubuntu-regular-webfont.woff") format("woff"),
	url("../fonts/UbuntuRegular/ubuntu-regular-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
/* font-family: "UbuntuLight"; */
@font-face {
	font-family: "UbuntuLight";
	src: url("../fonts/UbuntuLight/ubuntu-light-webfont.woff") format("woff"),
	url("../fonts/UbuntuLight/ubuntu-light-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
/* font-family: "UbuntuLight"; */
@font-face {
	font-family: "UbuntuMedium";
	src: url("../fonts/UbuntuMedium/ubuntu-medium-webfont.woff") format("woff"),
	url("../fonts/UbuntuMedium/ubuntu-medium-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@mixin gagalin($style: "regular") {
	@if ($style == "regular") {
		font-family: "GagalinRegular";
		}
	@else if ($style == "medium") {
		font-family: "GagalinMedium";
	}
	@else if($style == "bold") {
		font-family: "GagalinBold";
	}
}

@mixin lifehack($style: "medium") {
	@if ($style == "medium") {
		font-family: "LifehackMedium";
		}
	@else if($style == "bold") {
		font-family: "Lifehackbold";
	}
}

@mixin ubuntu($style: "regular") {
	@if ($style == "regular") {
		font-family: "UbuntuRegular";
		}
	@else if($style == "light") {
		font-family: "UbuntuLight";
	}
	@else if($style == "medium") {
		font-family: "UbuntuMedium";
	}
}
