/*Переменные*/

/* переменные цветом и типографики*/

/*Шрифты*/
$gagalin-regular: "GagalinRegular", "Arial", sans-serif;
$lifehack-medium: "LifehackMedium", "Arial", sans-serif;
$ubuntu-regular: "UbuntuRegular", "Arial", sans-serif;
$ubuntu-light: "UbuntuLight", "Arial", sans-serif;
$ubuntu-medium: "UbuntuMedium", "Arial", sans-serif;
$ubuntu-bold: "UbuntuMedium", "Arial", sans-serif;

/*Цвета, фон*/
$dark-1: #2f3234;
$dark-2: #1f2122;
$dark-3: rgba(47, 50, 52, .8);
$yellow-1: #f9b43b;
$orange-1: #e45028;
$red-1: #c1401e;
$red-2: #e35028;
$light-1: #fff;

$bg-1: #fff;
$bg-2: #f9b43b;
$bg-3: rgba(47, 50, 52, .93);
$bg-4: #f5f2ed;
$bg-5: #d5d5d5;
$bg-6: rgba(227,80,40, .4);
$bg-7: rgba(255, 255, 255, .9);
$bg-8: rgba(20, 20, 20, .7);

/*размер шрифта*/
$font-size-base: 16px;
$lin-height-base: 24px/$font-size-base;

/*брейкпоинты*/
/*Mobile*/
$desktop-point-widths: "(min-width: 1200px)";
$laptop-point-widths: "(min-width: 868px)";
$tablet-point-widths: "(min-width: 520px)";
/*Dekstop*/
$desktop-point-widths: "(max-width: 960px)";
$laptop-point-widths: "(max-width: 768px)";
$tablet-point-widths: "(max-width: 480px)";

/*макс-ширина на устройствах*/
$desktop-max-widths: 1200px;
$laptop-max-widths: 992px;
$tablet-max-widths: 768px;
$phone-max-widths: 300px;

/*ширины контейнера*/
$desktop-inner-width: 960px;
$laptop-inner-widths: 728px;
$tablet-inner-widths: 480px;
$phone-inner-widths: 300px;

/*Ретина*/
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
